.div-item{
    font-size: 24px;
}
.li-item{
    color: red;
}
.span-item{
    color: #2196F3;
}
.button-item{
    background-color: #2196F3;
}
.section-item{
    background-color: #2F303A;
}
.span-item2{
    color: white;
}